
body {
   
}

h1 {
 	font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 160px;
    letter-spacing: 60px;
    padding-left: 50px;

}

p {
    
}


